/* put your css code here */

/* .animal {
  display: flex;
} */

.animal_image-slider {
  /* nice job with the flex box */
  display: flex;
  flex-wrap: wrap;
}

.animal_name,
.animal_paragraph {
  padding: 5px 40px;
}

.animal_paragraph {
  padding-top: 20px;
  width: 350px;
}

.animal_image-slider img {
  width: 40px;
  height: 40px;
  padding: 5px;
  align-self: center;
}

.animal_image-container {
  width: 280px;
  height: 300px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/76/Coast_Garter_Snake.jpg/500px-Coast_Garter_Snake.jpg");
  background-size: cover;
  /* background-size: contain;
  background-repeat: no-repeat; */
}

.animal_paragraph-continuation {
  display: none;
}

.animal-class_container {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: center;
}

h1,
h2 {
  text-align: center;
}
